@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  font-family: "Inter" , sans-serif;
}

.python-gradient {
  fill: url(#pythonGradient); /* Referencing the gradient by ID */
}

svg {
  width: 100%; /* Ensures the icon fills the container */
  height: 100%;
}

.python-gradient svg {
  width: 1em; /* Ensures sizing consistency */
  height: 1em;
}

.gradient-defs {
  position: absolute; /* So it doesn’t disrupt layout */
  width: 0;
  height: 0;
}



